# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# PHP / Composer
/vendor/
/composer.lock
/phpunit/vendor/
/phpunit/composer.lock

# PHPUnit outputs
.phpunit.result.cache
/build/
/coverage/
/phpunit/build/
/phpunit/coverage/

# Node (optional)
node_modules/

# Logs
*.log